<div class="event">
  <%= image_tag @event.image.url(:medium), class: "eventimage" %><br>
  <%= @event.name %><br>
  <%= @event.description %><br>
  <%= @event.location %><br>
  <%= @event.startdate.strftime"%B %d, %Y %I:%M %p" %><br>
  <%= @event.enddate.strftime"%B %d, %Y %I:%M %p" %><br>
  <% if @event.cost == 0 %>
    FREE <br>
  <% else %>
    <%= number_to_currency(@event.cost) %><br>
  <% end %>
  <% if @event.user_id == current_user.id %>
    <%= link_to "Edit", edit_event_path(@event.id), class: "linkbutt" %>
  <% else %>
  <% end %>
</div>

<script type="text/javascript">
  let locationTest = {
    lat: <%= @event.latitude %>,
    lng: <%= @event.longitude %>
  }
  let locationName = "<%= @event.name %> <%= @event.streetaddress %> <%= @event.city %>, <%= @event.state %> <%= @event.zip %>"
</script>

 <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLEMAPS_API_KEY']%>&callback=initMap"
type="text/javascript">
</script>


<div id="map" class="showmap"></div>
