<div class="center">
  <%= form_for @post do |f| %>
    <%= f.label  :name, "Name of Item" %><br>
    <%= f.text_field :name, autofocus: true %><br>
    <%= f.label  :description, "Description of Item" %><br>
    <%= f.text_field :description%><br>
    <%= f.label :date,"Date lost/found" %><br>
    <%= f.date_field :date %><br>
    <%= f.label :location, "location" %><br>
    <%= f.select :location, ["Noho","Soho","Lower East Side", "Upper West Side", "Upper East Side", "West Village", "East Village", "Hell's Kitchen", "Financial District", "Midtown", "Harlem", "Washington Heights", "Chelsea", "Tribeca", "Chinatown", "Murray Hill"] %><br>
    <%= f.label :image,  "<i class='fa fa-cloud-upload'></i>".html_safe + '  upload image', class: "customupload"%> <br>
    <%= f.file_field :image %><br>
    <%= f.label :variety, "Type" %><br>
    <%= f.select :variety, ["lost", "found"] %><br>
    <%= f.submit %>
  <% end %>
</div>
