<!DOCTYPE html>
<html>
  <head>
    <title>Neighborly</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'houseicon.png' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://use.fontawesome.com/4d46b4fd5c.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  </head>
<header>
  <nav>
    <div class="center">
      <%= link_to "Home", root_path, :class => 'navlink'  %>
      <%= link_to "Events Map", "/map", :class => 'navlink' %>
      <div class="dropdown">
        <button class="dropbtn">Event Calendar</button>
        <div class="dropdown-content">
          <%= link_to "Noho", "/events/location/Noho", class: "localnavlink" %><br>
          <%= link_to "Soho", "/events/location/Soho", class: "localnavlink" %><br>
          <%= link_to "Lower East Side", "/events/location/Lower East Side", class: "localnavlink" %><br>
          <%= link_to "Upper West Side", "/events/location/Upper West Side", class: "localnavlink" %><br>
          <%= link_to "Upper East Side", "/events/location/Upper East Side", class: "localnavlink" %><br>
          <%= link_to "West Village", "/events/location/West Village", class: "localnavlink" %><br>
          <%= link_to "East Village", "/events/location/East Village", class: "localnavlink" %><br>
          <%= link_to "Hell's Kitchen", "/events/location/Hell's Kitchen", class: "localnavlink" %><br>
          <%= link_to "Financial District", "/events/location/Financial District", class: "localnavlink" %><br>
          <%= link_to "Midtown", "/events/location/Midtown", class: "localnavlink" %><br>
          <%= link_to "Harlem", "/events/location/Harlem", class: "localnavlink" %><br>
          <%= link_to "Washington Heights", "/events/location/Washington Heights", class: "localnavlink" %><br>
          <%= link_to "Chelsea", "/events/location/Chelsea", class: "localnavlink" %><br>
          <%= link_to "Tribeca", "/events/location/Tribeca", class: "localnavlink" %><br>
          <%= link_to "Chinatown", "/events/location/Chinatown", class: "localnavlink" %><br>
          <%= link_to "Murray Hill", "/events/location/Murray Hill", class: "localnavlink" %><br>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Lost and Found </button>
        <div class="dropdown-content">
          <%= link_to "Noho", "/lostandfound/location/Noho", class: "localnavlink" %><br>
          <%= link_to "Soho", "/lostandfound/location/Soho", class: "localnavlink" %><br>
          <%= link_to "Lower East Side", "/lostandfound/location/Lower East Side", class: "localnavlink" %><br>
          <%= link_to "Upper West Side", "/lostandfound/location/Upper West Side", class: "localnavlink" %><br>
          <%= link_to "Upper East Side", "/lostandfound/location/Upper East Side", class: "localnavlink" %><br>
          <%= link_to "West Village", "/lostandfound/location/West Village", class: "localnavlink" %><br>
          <%= link_to "East Village", "/lostandfound/location/East Village", class: "localnavlink" %><br>
          <%= link_to "Hell's Kitchen", "/events/location/Hell's Kitchen", class: "localnavlink" %><br>
          <%= link_to "Financial District", "/events/location/Financial District", class: "localnavlink" %><br>
          <%= link_to "Midtown", "/events/location/Midtown", class: "localnavlink" %><br>
          <%= link_to "Harlem", "/events/location/Harlem", class: "localnavlink" %><br>
          <%= link_to "Washington Heights", "/events/location/Washington Heights", class: "localnavlink" %><br>
          <%= link_to "Chelsea", "/events/location/Chelsea", class: "localnavlink" %><br>
          <%= link_to "Tribeca", "/events/location/Tribeca", class: "localnavlink" %><br>
          <%= link_to "Chinatown", "/events/location/Chinatown", class: "localnavlink" %><br>
          <%= link_to "Murray Hill", "/events/location/Murray Hill", class: "localnavlink" %><br>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= link_to "Edit Account", edit_user_registration_path, :class => 'navlink' %>
        <%= link_to "New Event", new_event_path, :class => 'navlink' %>
        <%= link_to "New Post", new_post_path, :class => 'navlink' %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navlink' %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'navlink' %>
        <%= link_to "Sign In", new_user_session_path, :class => 'navlink' %>
      <% end %>
    </div>
  </nav>
</header>

  <body>
    <div class="center">
      <p class="notice"><%=notice%></p>
      <p class="alert"><%=alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
