<!DOCTYPE html>
<html>
  <head>
    <title>HoodHappenings</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'houseicon.png' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://use.fontawesome.com/4d46b4fd5c.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  </head>
<header>
  <nav>
    <div class="center">
      <%= link_to "Home", root_path, :class => 'navlink'  %>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navlink' %>
        <%= link_to "New Event", new_event_path, :class => 'navlink' %>
        <%= link_to "New Post", new_post_path, :class => 'navlink' %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'navlink' %>
        <%= link_to "Sign In", new_user_session_path, :class => 'navlink' %>
      <% end %>
    </div>
  </nav>
</header>

  <body>

    <p class="notice"><%=notice%></p>
    <p class="alert"><%=alert %></p>

    <%= yield %>
  </body>
</html>
